div.container{
    display: flex;
    justify-self: center;
    flex-direction: row;
    height: 80vh;
    width: 80vh;
    border: 10px solid black;
    margin-top: 10px;
}
.box{
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 240, 240);
    flex: 1 1 auto;
    height: 80vh;
    width: 80vw;
}
.grid{
    border: 2px solid white;
    flex: 1 1 auto;
    height: auto;
    width: auto;
}
div{
    justify-content: center;
    justify-items: center;
    justify-self: center;
}
button{
    margin-left: 30px;
    padding: 5px;
}
.colorgrid{
    background-color: rgb(73, 71, 71);
}

